<% if current_user.sign_in_count == 1 %>
 <div class="alert alert-success" role="alert">Welcome to trabajo, tell us about yourself <a href="/users/edit">here</a></div>
<% end %>

<div id="index">
 <div class="container-fluid">
  <div class="row">
   <div class="col-sm-3 col-lg-3">
     <div class="panel panel-default">
      <div class="panel-body">
      <%= image_tag(current_user.avatar.url(:medium), :class => "img-responsive thumbnail") %>
       <h1><%= current_user.name %></h1>
       <p><%= current_user.username %></p>
        <p><%= current_user.current_position %></p>
         <p class="about">Bio:</p>
         <p><%= current_user.description %></p>
         <% if current_user.experience === "1"  %>
           <h4>Experience: <%= current_user.experience %> year </h4>
          <% else %>
           <h4>Experience: <%= current_user.experience %> years</h4>
         <% end %>
        <button type="button" class="btn btn-primary btn-block btn-lg" data-toggle="modal" data-target="#myModal">
          New Post
        </button>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="myModalLabel">New Post</h4>
             </div>
             <div class="modal-body">
               <%= render 'posts/form' %>
             </div>
           </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="col-sm-9">
      <div class="input-group yep">
      <%= form_tag(posts_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search Posts" , class: 'form-control'%>

      <span class="input-group-btn clear">
      <%= submit_tag "Search", class: 'btn btn-info' %>
     </span>
     </div>
      <% end %>

      <% if @posts.present? %>
        <% @posts %>
      <% else %>
        <p>There are no posts containing the term(s) <%= params[:search] %></p>
      <% end %>
      <ul class="list-group">
       <% @posts.each do |p| %>
       <li class="list-group-item">
        <div class="container">
         <div class="row">
          <div class="col-sm-1">


           <a href="users/<%= p.user.id %>"><%= image_tag(p.user.avatar.url(:thumb), :class => 'img-responsive') %></a>


          </div>
          <div class="col-sm-11 posts">
           <div class="col-sm-12">
           <h3><%= p.user.name %><span class="handle"><span> &iexcl;<%= p.user.username %>!:</span></h3>
           <blockquote>
            <p><%= p.content %></p>
           </blockquote>
            <p><%= p.comments.first %></p>
            <p>Likes: <%= p.votes.count %></p>
           </div>
           <div class="row">
            <div class="col-sm-12 actions">
             <a href="posts/<%= p.id %>" class="fa fa-lg fa-eye"></a>
           <% if p.user == current_user %>
           <%= link_to '', p, method: :delete, data: { confirm: 'Are you sure?' }, class: 'fa fa-lg fa-trash-o' %>
           <%= link_to '', edit_post_path(p), class: 'fa fa-pencil-square-o fa-lg ' %>

            <% else %>
            <%= link_to '', vote_post_path(p), method: :patch, class: 'fa fa-lg fa-heart'%>
          <% end %>

            </div>

          <% end %>


</div>
<%= link_to 'Back to All Posts', '/' %>
