<div id="index">
 <div class="container">
  <div class="row">
   <div class="col-sm-3">
    <div class="panel panel-default">
     <div class="panel-body">
    <img src="http://placehold.it/150x150">
     <h1>Hello <%= current_user.name %></h1>
   </div>
  </div>
 </div>
    <div class="col-sm-9">

  <ul class="list-group">
  <% @posts.each do |p| %>
  <li class="list-group-item">
   <div class="container">
    <div class="row">
   <div class="col-sm-2">
    <img src="http://placehold.it/150x150">
   </div>
   <div class="col-sm-10 posts">
   <p><%= p.user.name %></p>
   <h4><%= p.content %></h4>
   <div class="col-sm-6">
   <%= link_to 'Edit', edit_post_path(p), class: 'btn btn-default' %>
   <%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
  </div>
 </div>

</div>
  </li>
<% end %>
</ul>
</div>
</div>
</div>
</div>
